---
interface Props {
  title: string;
  image: string;
  author?: string;
  pubDate?: string;
  slug?: string;
}

const { title, image, pubDate, author, slug } = Astro.props;
---

<div
  class="title-block relative left-1/2 right-1/2 ml-[-50vw] mr-[-50vw] overflow-hidden"
  style="max-width: 100vw;"
  data-slug={slug}
>
  <img
    src={image}
    alt={title}
    class="w-full sm:max-w-none lg:max-w-2xl mx-auto px-0 sm:px-0 lg:px-0 h-72 object-cover mb-4"
    style="display: block; height: 18rem; object-fit: cover;"
  />
  <div
    class="absolute inset-x-0 bottom-0 flex justify-center items-end h-72 pointer-events-none"
  >
    <h1
      class="sm:max-w-none lg:max-w-2xl text-4xl font-semibold text-white mb-6 px-4 py-2 text-shadow-lg text-center"
    >
      {title}
    </h1>
  </div>
</div>
{
  author && pubDate && (
    <p class="text-gray-500 text-base text-center pb-2">
      <span class="text-gray-800 font-bold">{author}</span> &middot; {pubDate}
    </p>
  )
}
